streamlit

# Utilities
numpy
pandas

# Visualization
plotly
matplotlib

# Machine Learning
scikit-learn
setuptools<70

# Face Recognition
opencv-python
mediapipe==0.10.21

# Database
supabase
bcrypt

# QR Code
segno
pillow

# Voice Recognition
librosa
resemblyzer
